@use 'global';

.wallet {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      margin: 0;
      font-size: global.$font-medium;
      font-weight: global.$font-weight-semi-bold;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__black {
      width: 100%;
      padding: 18px 30px;
      min-height: 250px;
      background: linear-gradient(45deg, #4a4a49, #20201f);
      border-radius: 15px;
      display: flex;
      flex-flow: column nowrap;
      gap: 25px;

      &__top {
        display: flex;
        flex-flow: column nowrap;
        gap: 25px;

        &__header {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          p {
            margin: 0;
          }

          //card logo
          p:nth-child(1) {
            color: global.$light-bg-color;
            font-size: global.$font-semi-lg;
            font-weight: global.$font-weight-bold;
          }

          //card bank's name
          p:nth-child(2) {
            font-size: global.$font-regular;
            color: global.$semi-dark-color;

            &::before {
              content: '|';
              margin: 0 7px;
            }
          }
        }

        &__chips {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
        }
      }

      &__number {
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 15px;
        color: global.$light-bg-color;
        font-size: global.$font-semi-lg;
        font-weight: global.$font-weight-bold;
      }

      &__international {
        display: flex;
        justify-content: flex-end;
      }
    }

    &__white {
      width: 90%;
      background: linear-gradient(85deg, #95959517, #3240002d);
      min-height: 220px;
      position: relative;
      bottom: 80px;
      border-radius: 15px;
      backdrop-filter: blur(10px);
      padding: 15px 20px;
      border: 1px solid #95959517;
      display: flex;
      flex-flow: column nowrap;
      gap: 23px;

      &__top {
        display: flex;
        flex-flow: column nowrap;
        gap: 27px;

        &__header {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          p {
            margin: 0;
          }

          //card logo
          p:nth-child(1) {
            color: global.$light-bg-color;
            font-size: global.$font-semi-lg;
            font-weight: global.$font-weight-bold;
          }

          //card bank's name
          p:nth-child(2) {
            font-size: global.$font-regular;
            color: global.$light-bg-color;

            &::before {
              content: '|';
              margin: 0 7px;
            }
          }
        }

        &__chips {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
        }
      }

      &__number {
        margin: 0;
        font-size: global.$font-semi-lg;
        font-weight: global.$font-weight-bold;
      }

      &__bottom {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        p {
          color: global.$gray-color;
          font-size: global.$font-medium;
          font-weight: global.$font-weight-medium;
        }
      }
    }
  }
}
