//bg-color
$primary-color: red;
$light-bg-color: #fff;
$card-icon-bg-color: #ebe8e8;
$card-bg-color: #f8f8f8;
$gray-color: #929eae;
$black-color: #1b212d;

//font-size
$font-semi-small: 12px;
$font-small: 14px;
$font-medium: 18px;
$font-semi-lg: 24px;
$font-lg: 25px;

//font-weight
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//width
$card-width: 222px;
$card-icon-width: 42px;
$dashboard_statistic: 716px;

//height
$card-height: 105px;

//border-radius
$card-border: 10px;
